@font-face {
    font-family: Gobold;
    src: url(../fonts/Gobold_Regular.otf);
  }

@font-face {
    font-family: GoboldCut;
    src: url(../fonts/Gobold_Cuts.otf);
}

*{
    margin:0;
    padding:0;
}

body{
    background-image:url("../images/bg.png");
    background-size:cover;
    height:auto;
    background-repeat:no-repeat;
}

/************BOARD************/
#board{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border:2px solid green;
    
    width: 32em;
    height: 32em;
    float:right;
}
/*Board images*/

/*******CHEST_BLOCK*******/

.chest{
    width: 85%;
    height:71%;
    margin-top: -0.5vh;
    margin-left:0.35vw; 
}


/*******CHEST_BLOCK_END*******/

/*Board images end*/
.row {
	height: 4em;
	width:32em;
	
}

/*White squares */
.square {
	 float: left;
	 background-color: rgba(240,230,212,0.75);
	 height: 4em;
	 width: 4em;
	
}

/*Dark squares */
.square:nth-child(odd){ 
    background-color: rgba(50,65,50,0.75); 
    color:rgb(202, 235, 172);
	
}

.row:nth-child(odd) .square{	
	float:left;
}

.row:nth-child(even) .square{	
	float:right;
}
/*Styling the numbers in the squares*/
.numeration  {
    float:left;
    font-family: 'Roboto', sans-serif;
    font-weight: 50;
    font-size: 1.85vh;
}

/************BOARD_END************/

/************BUTTON***********/
.btn:disabled{
    animation: none;
}
.diceActive {
    animation: spin 3s infinite;
    animation-delay: 0ms;
    transform: translate(-35%, -50%);
    cursor:pointer !important; /* labai nenorejau daryt per java scripta, gal jei vienas toks, nieko tokio */
}

.btn {
    display:block;
    position: fixed;
    top: 40%;
    left: 82.5%;
    margin-right: -35%;    
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: url("../images/dice_button.png");
    background-size: 100%;
    float:right;
    cursor:default;
    
  }

  @-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(359deg);}
}

  .btn:active{
      width: 100px;
      height: 100px;
      background-repeat: no-repeat;
  }

  

  /*Responsive button*/
@media screen and (max-width: 1335px) and (min-height:900px) {
    .btn {
    	top: 10%;
    	left: 50%;
    	margin-right: -50%;
        
    }
}

@media screen and (max-width: 930px) {
    .btn {
        height:80px;
        width:80px;
        margin-left:10vh
        
    }
}

  /*******BUTTON_END********/

 .hat{
    width:100%;
    z-index: 1000;
    margin:auto;
 }

 .occupied1:hover{
 	
 	transform: scale(1.25);
 	transition: 0.5s;
 }

 /*******CLASSES_FOR_OCCUPIED_BLOCKS*******/
 /*Assign this class to a block that the player stands on*/
 .occupied1{
     background-image: url("../images/hat1.png");
     background-size:100%;
     background-repeat: no-repeat;
     background-position: 50%;
 }

 .occupied2{
    background-image: url("../images/hat2.png");
    background-size:100%;
    background-repeat: no-repeat;
    background-position: 50%;
}


/****************SNEKS******************/

.tinySnek{
    position:absolute;
    top:77%;
    right:27%;
    width:45px;
    height:auto;
    -webkit-filter: hue-rotate(340deg);
    filter: hue-rotate(340deg);
}

.smallSnek{
    position:absolute;
    top: 17%;
    right:2%;
    width:95px;
    height:auto;
    -webkit-filter: hue-rotate(340deg);
    filter: hue-rotate(340deg);
}

.mediumSnek{
    position:absolute;
    top: 42%;
    right:31%;
    width:140px;
    height:auto;
    -webkit-filter: hue-rotate(340deg);
    filter: hue-rotate(340deg);
}

.bigSnek{
    position:absolute;
    top: 5%;
    right:77%;
    width:100px;
    height:auto;
    -webkit-filter: hue-rotate(340deg);
    filter: hue-rotate(340deg);
}

/*************SNEKS_END*************/

/*************LADDERS***************/
.lowLadder{
    position:absolute;
    top: 80%;
    right:14%;
    width:180px;
    z-index: 100;
    height:auto; 
    -webkit-filter: hue-rotate(20deg);
    filter: hue-rotate(20deg);
}

.lowLadder2{
    position:absolute;
    top: 53%;
    right:65%;
    width:100px;
    z-index: 100;
    height:auto; 
    -webkit-filter: hue-rotate(20deg);
    filter: hue-rotate(20deg);
}

.mediumLadder{
    position:absolute;
    top: 17%;
    right:65%;
    width:110px;
    z-index: 100;
    height:auto; 
    -webkit-filter: hue-rotate(20deg);
    filter: hue-rotate(20deg);
}

.hugeLadder{
    position:absolute;
    transform: rotate(-10deg);
    top: 6%;
    right:28%;
    width:90px;
    z-index: 100;
    height:auto; 
    -webkit-filter: hue-rotate(20deg);
    filter: hue-rotate(20deg);
}

/*SPLASH_STYLING*/

.buttons{
    border: none;
    padding: 0;
    background: none;
    width:auto;
    height:100vh;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

.buttons .splash-btn img{
    position: absolute;
    width: 12vw;
    min-width: 15vw;
    height: auto;
}

.buttons .splash-btn:hover{
    cursor:pointer;
}

.buttons #start-btn:hover{
    -webkit-animation-name: jump; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: jump;
    animation-duration: 1s;
}

/* @-webkit-keyframes jump {
    from {top: 55%;} /* Safari 4.0 - 8.0 
    to {top: 53%;}  /* Safari 4.0 - 8.0 
  } 
  */
  
  @keyframes jump {
    from {top: 55%;}
    to {top: 53%;}
  }

.splash-btn{
    border: none;
    padding: 0;
    background: none;
}

#rule-btn{
    top:60%;
    right:65%;
}
#rule-btn:active{
    min-width: 10vw;
    width:8vw;
    transition:2s;
}

#start-btn{
  top:55%;
  right:42.5%;
    
}
#stat-btn{
    top:60%;
    right:20%;
}

/* TITLE */
.snakeWithLadder{
    width:8%;
    height: auto;
    position: absolute;
    z-index: 1000;
    top:5%;
    left:44%;
}

.gameName{
    width:70%;
    height:auto;
    position: absolute;
    top:10%;
    right:15%;
}
/*TITLE END*/

/* RULES & STATS */

#rules, #stats{
    position:fixed;
    background:rgba(255,255,255, 0.5);
    border: solid green 2px;
    border-radius: 15px;
    margin-top:15%;
    margin-left:20%;
    text-align: center;
    width:50%;
    height:35%;
    padding:2.5%;
    z-index: 10000000;
    
}
#rules p::after, #stats p::after{
    content: ".";
}
#rules p::before , #stats p::before {
    content: '\A'; /*Adds a newline/line break*/
    white-space: pre; /* Text will only wrap on line breaks*/
}

#rules h2, #stats h2{
    line-height: 2.5;
    margin-top:-8%;
    margin-bottom:-2%;
    font-family: GoboldCut;
}

.special{
  margin-top:2% !important; /*!IMPORTANT USED!*/
}

#rules p, #stats p{
   line-height: 1.5;
   font-family:Gobold;
}

#exit, #exit_stats{
    border: none;
    padding: 0;
    background: none;
    margin:0;
    width:100%;
}

#exit img, #exit_stats img{
    position: relative;
    width:5%;
    margin-left:90%;
}

#exit:hover, #exit_stats:hover{
    cursor:pointer;
}

.hidden{
    display:none;
}

/* RULES & STATS END */


